<div class="info-infomation">
    Please complete your profile before scheduling a session so that we can match you to the most compatible tutor. Please contact us at QQ 2868080059 if you have any questions.
</div>
<ul id="tabs-nav" data-uk-tab="" class="uk-tab" ng-controller="DashboardStudentNavbarCtrl" data-uk-tab>
    <li role="presentation" ng-repeat="item in dashboardStudentNavItems" ng-class="{'uk-active':isActive(item.href)}">
        <a href="{{item.href}}" >{{item.text}}</a>
    </li>
</ul>