    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
                <li class="start active">
                    <a href="/students">
                        <i class="icon-graduation"></i>
                        <span class="title">Manage Students</span>
                    </a>        
                </li>
                <li class="">
                    <a href="/mentors">
                        <i class="icon-user"></i>
                        <span class="title">Manage Mentors</span>
                    </a>        
                </li>
                <li class="">
                    <a href="/pricing">
                        <i class="icon-wallet"></i>
                        <span class="title">Pricing</span>
                    </a>        
                </li>
              </ul>

            
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->