    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <!-- <div class="col-md-6 col-sm-6 additional-shop-info"> -->
                    <!-- <ul class="list-unstyled list-inline"> -->
                        <!-- <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li> -->
                        <!-- BEGIN CURRENCIES -->
                        <!-- <li class="shop-currencies">
                            <a href="javascript:void(0);">€</a>
                            <a href="javascript:void(0);">£</a>
                            <a href="javascript:void(0);" class="current">$</a>
                        </li> -->
                        <!-- END CURRENCIES -->
                        <!-- BEGIN LANGS -->
                        <!-- <li class="langs-block">
                            <a href="javascript:void(0);" class="current">English </a>
                            <div class="langs-block-others-wrapper"><div class="langs-block-others">
                              <a href="javascript:void(0);">French</a>
                              <a href="javascript:void(0);">Germany</a>
                              <a href="javascript:void(0);">Turkish</a>
                            </div></div>
                        </li> -->
                        <!-- END LANGS -->
                    <!-- </ul> -->
                <!-- </div> -->
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-12 col-sm-12 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="">My Account</a></li>
                        <li><a href="">My Wishlist</a></li>                
                        <li><a href="">Log In</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="shop-index.html">
        <!-- <img src="../../assets/frontend/layout/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a> -->
        <span>VAdsence</span>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->

        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li >
              <a data-target="#" href="javascript:;">
                MỚI 
                
              </a>
                
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                 XEM NHIỀU 
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a>XEM THEO TUẦN</a>
                </li>
                <li>
                  <a>XEM THEO THÁNG</a>
                </li>
                <li>
                  <a>XEM THEO NĂM</a>
                </li>
                <li>
                  <a>TẤT CẢ</a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                  DANH MỤC  
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a>VIDEO</a>
                </li>
                <li>
                  <a>ẢNH</a>
                </li>
                
              </ul>
            </li>
            

            <!-- BEGIN TOP SEARCH -->
            <!-- <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
              </div> 
            </li> -->
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->